/* body {
    background: #3c8496;
    color: #fff;
    font-family: 'Arial', sans-serif;
    padding: 10px;
    height: 100vh;
    height: 100vh;

}


#h1 {

    font-size: 3em;
    margin-bottom: 50px;
    text-align: center;
}

.stopWatch {
    display: block;
    margin: auto;
    padding: 2rem 1rem 3rem 1rem;
    max-width: 25%;
    text-align: center;
    position: relative;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.6);
}

span {
    margin-top: 3rem;
    font-size: 40px;
    color: #ccc;
}
input{
    width: 80%;
    height: 25px;
    font-size: 1.2em;
    padding: 5px;
}

button{
    padding: 10px 20px;
    font-size: 1.2em;
    margin-top: 20px;
    cursor: pointer;
}
button:hover {
    background-color: #555;
    color: #fff;
}
b{
    text-align: center;
    display: block;
    margin-top: 20px;
    font-size: 1.5em;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: #3058cf;
    color: #fff9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.conatainer {
   width: 550px;
    box-shadow: inset 0 0 4px #bbb4b4;
    background: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 10px;
    text-align: center;

}

.conatainer h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}
.conatainer p {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}
.conatainer textarea {
    width: 90%;
    padding: 10px;
    font-size: 1.2em;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}
.conatainer button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    background-color: #039c12;
    color: white;
}
.conatainer button:hover {
    background-color: #56d52f;
}
.conatainer h2 {
    margin: 20px;
    color: rgb(234, 219, 21);
    font-size: 1.5em;
}